/*!
Project Name: Rate Me
Author: Ernest Wesley Man-on
Description: Engineering presentation application for efficient management of reviews
Version: 0.0.1
*/
@import 'mixin/mixin';

@import 'fonts/fonts';

@import 'foundation/index';

@import 'components/button';

@import 'components/animation/index';

@import 'project/spinner';

@import 'utility/index';
