.l-main {
    position: relative;
    min-height: 100vh;
  
    .p-login {
      position: fixed;
      height: 100%;
      width: 50%;
      z-index: 1;
      top: 0;
      left: 0;
      background-image: url(../../assets/images/gallery/auth_bg.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  
    .p-form {
      width: 50%;
      height: 100%;
      min-height: 100vh;
      padding: 15px;
      margin-left: 50%;
      box-sizing: border-box;
      display: flex;
      justify-content: center;
      align-items: center;
      
      &__content {
        width: 100%;;
      }
      
      img {
        width: 220px;
        height: 100px;
      }
  
      &__title {
        font-family: Raleway;
        font-style: normal;
        font-weight: 500;
        font-size: 28px;
        line-height: 33px;
        color: #000000;
        margin: 90px 0 36px;
      }
  
      form {
        max-width: 511px;
        display: block;
        margin: auto;
      }
  
      ::placeholder {
        font-family: Raleway;
        font-style: normal;
        font-weight: medium;
        font-size: 16px;
        color: #020202;
      }
  
      input[type=text], input[type=email], input[type=password] {
        box-sizing: border-box;
        width: 100%;
        padding: 15px;
        background-color: #F4F4F4 !important;
        border-radius: 10px;
        height: 50px;
        margin-bottom: 25px;
        border: 0;
        font-size: 16px;
      }
  
      p {
        font-family: Raleway;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        color: #000000;
        text-align: left;
        margin: 10px 0 50px;
  
        a {
          color: #49006B;
          text-decoration: none;
  
          &:hover {
            text-decoration: underline;
          }
        }
      }
  
      input[type=submit] {
        width: 150px;
        height: 50px;
        background: #0A0E30;
        color: #ffffff;
        font-family: Raleway;
        font-style: normal;
        font-weight: medium;
        font-size: 22px;
        line-height: 23px;
  
        transition: all .5s ease-in-out 0s;
  
        &:hover {
          background: transparent;
          border: 1px solid #0A0E30;
          color: #0A0E30;
          box-sizing: border-box;
        }
      }
    }
}