@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
@font-face {
    font-family: 'Simplifica';
    src: url('./assets/fonts/simplifica.ttf') format('truetype');
}
@font-face {
    font-family: 'Aileron';
    src: url('./assets/fonts/aileron.otf') format('truetype');
}
@font-face {
    font-family: 'Quicksand';
    src: url('./assets/fonts/quicksand.ttf') format('truetype');
}