@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@font-face {
    font-family: 'Simplifica';
    src: url('./assets/fonts/simplifica.ttf') format('truetype');
}
@font-face {
    font-family: 'Aileron';
    src: url('./assets/fonts/aileron.otf') format('truetype');
}